<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/static/css/style.css">
    <title>Gracias</title>
</head>

<body>
    <div class="cuerpo">
    <h1>Gracias por subscribirte a nuestra página! </h1>
    </div>
</body>

<footer>
    <div class="footer">
    <a href="../templates/index.html">Volver a la página principal</a>
    <p> <em> Imagenes utilizadas con propositos educacionales, no somos dueños de ellas</em></p>
    </div>
</footer>

</html>