<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/static/css/style.css">
    <title>Leche Asada</title>
</head>

<body>
    <img src="../templates/static/img/Receta2.jpg" height="260" width="600" alt="Imagen no disponible">
    <div class="cuerpo">
    <h1>Leche Asada</h1>
    
    <p> 
        La leche asada, tradicional dulce chileno de textura suave y ligera que combina caramelo con flan suave, suculento y esponjoso, caracterizado por su preparación fácil, que sin dudades te dejará con ganas de más. 
    </p>

    <ul>
        <li>Ingredientes
            <ol>
                <li>4 huevos</li>
                <li>1 litro de leche</li>
                <li>8 cucharadas grandes (cuchara de sopa) de azúcar, se puede echar más o menos según el gusto de cada uno</li>
            </ol>
        </li>
        <li>Pasos
            <ol>
                <li> En una fuente metálica colocar 4 cucharadas de azúcar y ponerlo a fuego medio-bajo para hacer el caramelo</li>
                <li> Una vez que comience a derretirse, revolver</li>
                <li> Repetir el paso 2 hasta que toda la azúcar este derretida</li>
                <li> Cuando el caramelo este dorado oscuro, quitar del fuego y dejar enfriar</li>
                <li> Precalentar horno a 180°C</li>
                <li> Ahora en dos fuentes dejar las yemas separadas de las claras. Una fuente grande para las claras y otra chica para
                    las yemas.</li>
                <li> Utilizar una batidora a velocidad media-alta en las claras hasta que al levantarla queden dos puntas firmes</li>
                <li> De a una, ir echando 4 cucharadas de azúcar, revolviendo con la batidora cada vez para incorporar bien el azúcar
                </li>
                <li> Batir las yemas con un poco del merengue</li>
                <li> Una vez bien mezclado, utilizar un mezquino o cuchara si no se tiene uno, añadir lentamente e ir incorporando las
                    yemas al merengue</li>
                <li> Terminada la incorporación, agregar lentamente la leche a la mezcla hasta que se incorporen</li>
                <li> Depositar todo en la fuente del caramelo</li>
                <li> Colocar la fuente en el horno por 20 minutos hasta que se haya formado una capa, si le falta dejarlo más tiempo en
                    el horno</li>
                <li> Finalmente dejar enfriar hasta que se puede colocar en el refrigerador</li>
                <li> ¡Está listo! ¡Buen provecho!</li>
            </ol>
        </li>
    </ul>
    <img src="../templates/static/img/Receta22.jpg" height="260" width="600" alt="Imagen no disponible">
    </div>
</body>

<footer>
    <div class="footer">
    <a href="../templates/index.html">Volver a la página principal</a>
    <p> <em> Imagenes utilizadas con propositos educacionales, no somos dueños de ellas</em></p>
    <a href="../templates/Subscripcion.html"> Suscribete aquí</a>
    </div>
</footer>

</html>