<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/static/css/style.css">
    <title>Panqueques</title>
</head>

<body>
    <img src="../templates/static/img/Receta1.jpg" height="260" width="600" alt="Imagen no disponible">
    <div class="cuerpo">
    <h1>Panqueques</h1>

    <p> Ya sea para tener un desayuno diferente, de bajativo o un postre simple para disfrutar, el panqueque es un clásico de los clásicos que se disfruta cualquiera sea su preparación. ¡En esta página te enseñamos como prepararlo en simples pasos! </p>
    <ul>
        <li>Ingredientes
            <ol>
                <li>2 huevos</li>
                <li>300g~ de harina sin polvo de hornear</li>
                <li>450g~ de leche entera</li>
            </ol>
        </li>
        <li>Pasos
            <ol>
                <li> Agregar los huevos a la licuadora en velocidad alta</li>
                <li> Lentamente ir agregando harina y la leche, se comenzará a formar la masa. Si desea una mezcla más espesa puede
                    agregar más harina, pero nunca muy liquida sino no quedan buenos los panqueques.</li>
                <li> Una vez finalizada la mezcla poner a calentar a fuego medio-bajo una sartén con un poco de aceite. Mover el aceite
                    para que cubra toda la superficie y estamos listos para echar la mezcla.</li>
                <li> Dejar caer sobre el centro del sartén la mezcla hasta que se obtenga la cantidad deseada, puedes hacer panqueques
                    de todo tipo de tamaños y grosores! En el caso de que sea muy grueso, se recomienda poner una tapa para que se pueda
                    cocer bien la parte interior.</li>
                <li> Observar bien los bordes del panqueque ya que estos comenzarán a burbujear. Una vez que ya no burbujee levanta un
                    poco la masa y ve como está abajo. Si sientes necesario, lo puedes dejar un poco más para que agarre color, pero ya
                    estará listo para dar vuelta. Al darlo vuelta debes tener en mente que ya está casi cocida la masa por lo que
                    deberás poner un poco más de atención e ir revisando cada 30s aproximadamente.</li>
                <li> ¡Listo! ¡Tus panqueques están listos para ser devorados!</li>
            </ol>
        </li>
    </ul>
    <img src="../templates/static/img/Receta12.jpg" height="260" width="600" alt="Imagen no disponible">
    </div>
</body>

<footer>
    <div class="footer">
    <a href="../templates/index.html">Volver a la página principal</a>
    <p> <em> Imagenes utilizadas con propositos educacionales, no somos dueños de ellas</em></p>
    <a href="../templates/Subscripcion.html"> Suscribete aquí</a>
    </div>
</footer>

</html>